<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="ue@yourwebsite.undefined" name="ue" createdate="2011-03-19">
        <version>0.1pre</version>
        <label lang="fr_FR">ue</label>
        <description lang="fr_FR" />
        <license URL="">All right reserved</license>
        <copyright>2010 yourname</copyright>
        <creator name="yourname" email="youremail@yourwebsite.undefined" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.yourwebsite.undefined</homepageURL>
        <!--<updateURL>http://www.yourwebsite.undefined/update.xml</updateURL>-->
    </info>
    <dependencies>
        <jelix minversion="1.2.1.1" maxversion="1.2.1.*"/>
    </dependencies>
</module>