temp/ogre/compiled/*
temp/ogre/zonecache/*
temp/ogre/*.*
temp/ogre-cli/*.*
temp/ogre-jelix-scripts/*.*
*.komodoproject
ogre.mwb.bak
ogre.wb51.mwb.bak
*Thumbs.db*
ogre/www/themes/default/img/Thumbs.db
ogre/var/log/*.log
ogre/var/uploads/csv_apogee/*
ogre/var/uploads/csv_pv/*