
@img = '../themes/default/img/';

.border-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}


.container{
    /*width:960px;*/
    min-width:960px;
    max-width:1200px;
    margin:0 auto;
    position:relative;
}

#ogre{
    position:absolute;
    top:10px;
    left:11px;
}

#header{
    background:#005987;
    border-bottom:1px solid #004263;
}

#header .container{
    min-height:75px;
}


#header .log{
    position:absolute;
    top:30px;
    right:11px;

    span{
        .border-radius();
        background:#00527a;
        border:1px solid #004263;
        display:inline-block;
        padding:3px 8px;
        font-weight:bold;
        color:#dbe0ea;
            text-shadow:1px 1px 0 rgba(0,0,0,0.75);
        a{
            color: #dbe0ea;
            &:hover, &:focus{
                color:white;
            }
        }
    }

}

#sub-header{
    background:#00527a;
    border-top:1px solid #316985;
    border-bottom:1px solid #1b3a4a;
    min-height:20px;
}


#menu{
    margin:0; padding:0;
    position:absolute;
    bottom:0;
    left:0;
    
    font-size:1.1em;
}

#menu li{
    float:left;
    list-style:none;
}
#menu a{
    display:block;
    padding:4px 10px;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    
    border-top:1px solid #005987;
    border-left:1px solid #005987;
    border-right:1px solid #005987;
    
    text-shadow:1px 1px 0 rgba(0,0,0,0.5);
    
    
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    border-radius: 5px 5px 0 0;
}

#menu a:hover, #menu a:focus, #menu a:active{
    border-color:#004263;
    background:#00527a;
}


#main{

    .border-radius(5px);
    
    background: white;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    padding: 1px;
    min-height: 430px;
}


#main .header{
    background:url({@img}gray-grad.png) repeat-x #DFDFDF;
    text-shadow:0 1px 0 #FFFFFF;
    color:#464646;
    padding:7px 9px;
    font-weight:bold;
    border:1px solid #DFDFDF;
    margin-bottom:15px;
    .border-radius(5px);
}




.login {
    
    #ogre{position:static; margin-top:15px;}
    #header{
        a{
            display:block;
            margin:0 auto;
            width:111px;
        }
        .container{
            min-height:2px;
        }
    }
    fieldset{
        .border-radius(12px);
        margin-top:15px;
        text-align:center;
    }
    table{
        border:none;
    }
    form{
        width:300px;
        margin:0 auto;
    }
    th{
        text-align:right;
    }
    
}





label{
    display:inline-block;zoom:1;
}
abbr[title="required"]{border:0;}
input[type="text"]:focus, input[type="password"]:focus{
    -moz-box-shadow:0 0 5px #005987;
}


.btn(){
    .border-radius(12px);
    
    cursor:pointer;
    font-weight:bold;
    display:inline-block;zoom:1;
    padding:3px 10px 2px;
    text-decoration:none;
    
    margin-right:10px;
    
    border:1px solid;
}


input[type="submit"], input[type="reset"], .button{
    .btn;
    
    background-image:url({@img}white-grad.png);
    color: #464646;
    border-color: #bbb;
    text-shadow: 0 1px 0 #FFFFFF;
    
    &:hover, &:focus{
        border-color:#666;
        color:#000;
    }
    &:active{
        background:url({@img}white-grad-active.png) repeat-x #21759B
    }
}

body .button-2{
    .btn;
    
    background:url({@img}blue-grad.png) repeat-x #21759B;
    color:white;
    border-color : #298CBA;
    text-shadow:0 -1px 0 black;
    
    &:hover, &:focus{
        border-color:#13455b;
        color:#eaf2fa;
    }
    &:active{
        background:url({@img}blue-grad-active.png) repeat-x #21759B
    }
}

body .button-valid{
    
    .btn;
    
    background-image:url({@img}green-grad.png);
    background-color: #5b6732;
    color: #fff;
    border-color: #56612f;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    
    &:hover, &:focus{
        border-color:#444923;
        color:#eee;
    }
}

body .button-error{
    
    .btn;
    
    background-image:url({@img}red-grad.png);
    background-color: #AB332D;
    color: #fff;
    border-color: #a6302a;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    
    &:hover, &:focus{
        border-color:#822320;
        color:#eee;
    }
}

a.icon span{
    background-position:left center;
    background-repeat:no-repeat;
    padding:2px 0 1px 23px;
}
a.icon.right span{
    background-position:right center;
    background-repeat:no-repeat;
    padding:1px 23px 1px 0;
}

a.add span{background-image: url({@img}add.png);}
a.delete span{background-image: url({@img}delete.png);}
a.edit span{background-image: url({@img}pencil.png);}
a.next span{background-image: url({@img}arrow_right.png);}
a.save span{background-image: url({@img}disk.png);}
a.back span{background-image: url({@img}arrow_undo.png);}



table{
    border:1px solid #DFDFDF;
}

thead th{
    background:url({@img}gray-grad.png) repeat-x #DFDFDF;
    text-shadow:0 1px 0 #FFFFFF;
    color:#464646;
    font-weight:bold;
}


tr.odd td{
    background: #FFF;
}
tr.even td{
    background: #F9F9F9;
}

tr.even td, tr.odd td{
    border:0;
    border-top:1px solid #dfdfdf;
}




ul.semestre li{
    list-style:none;
    background :url({@img}bullet_arrow_right.png) left center no-repeat;
    padding-left: 20px;
}