.container {
  min-width:960px;
  max-width:1200px;
  margin:0 auto;
  position:relative;
}
#ogre {
  position:absolute;
  top:10px;
  left:11px;
}
#header {
  background:#005987;
  border-bottom:1px solid #004263;
}
#header .container { min-height:75px; }
#sub-header {
  background:#00527a;
  border-top:1px solid #316985;
  border-bottom:1px solid #1b3a4a;
  min-height:20px;
}
#menu {
  margin:0;
  padding:0;
  position:absolute;
  bottom:0;
  left:0;
  font-size:1.1em;
}
#menu li {
  float:left;
  list-style:none;
}
#menu a {
  display:block;
  padding:4px 10px;
  text-decoration:none;
  color:#ffffff;
  font-weight:bold;
  border-top:1px solid #005987;
  border-left:1px solid #005987;
  border-right:1px solid #005987;
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  border-radius:5px 5px 0 0;
}
#menu a:hover, v:focus, #menu a:active {
  border-color:#004263;
  background:#00527a;
}
#main {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background:white;
  border:1px solid #bbbbbb;
  margin-bottom:20px;
  margin-top:20px;
  overflow:hidden;
  padding:1px;
  min-height:430px;
}
#main .inner { padding:8px; }
.pannel .header {
  background:#f1f1f1;
  border-bottom:1px solid white;
  color:#666666;
  margin:0;
  font-size:1.2em;
  font-weight:bold;
  padding:12px 15px 13px;
  text-shadow:0 1px 1px white;
}
.pannel .content {
  border-top:1px solid #cccccc;
  padding:15px;
}
label {
  display:inline-block;
  zoom:1;
}
abbr[title="required"] { border:0; }
input[type="text"] :focus, input[type="password"] :focus { -moz-box-shadow:0 0 5px #005987; }
.btn {
  -moz-border-radius:8px;
  -webkit-border-radius:12px;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
}
input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, .button:hover, .button:focus {
  border-color:#666666;
  color:#000000;
}
input[type="submit"]:active, input[type="reset"]:active, .button:active { background:url(../img/white-grad-active.png) repeat-x #21759b; }
input[type="submit"], input[type="reset"], .button {
  -moz-border-radius:8px;
  -webkit-border-radius:12px;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background-image:url(../img/white-grad.png);
  color:#464646;
  border-color:#bbbbbb;
  text-shadow:0 1px 0 #ffffff;
}
body .button-2:hover, body .button-2:focus {
  border-color:#13455b;
  color:#eaf2fa;
}
body .button-2:active { background:url(../img/blue-grad-active.png) repeat-x #21759b; }
body .button-2 {
  -moz-border-radius:8px;
  -webkit-border-radius:12px;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background:url(../img/blue-grad.png) repeat-x #21759b;
  color:white;
  border-color:#298cba;
  text-shadow:0 -1px 0 black;
}
body .button-valid:hover, body .button-valid:focus {
  border-color:#444923;
  color:#eeeeee;
}
body .button-valid {
  -moz-border-radius:8px;
  -webkit-border-radius:12px;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background-image:url(../img/green-grad.png);
  background-color:#5b6732;
  color:#ffffff;
  border-color:#56612f;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
}
body .button-error:hover, body .button-error:focus {
  border-color:#822320;
  color:#eeeeee;
}
body .button-error {
  -moz-border-radius:8px;
  -webkit-border-radius:12px;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background-image:url(../img/red-grad.png);
  background-color:#ab332d;
  color:#ffffff;
  border-color:#a6302a;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
}
a.icon span {
  background-position:left center;
  background-repeat:no-repeat;
  padding:2px 0 1px 23px;
}
a.icon.right span {
  background-position:right center;
  background-repeat:no-repeat;
  padding:1px 23px 1px 0;
}
a.add span { background-image:url(../img/add.png); }
a.delete span { background-image:url(../img/delete.png); }
a.next span { background-image:url(../img/arrow_right.png); }
a.save span { background-image:url(../img/disk.png); }
