.border-radius {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.clear { clear:both; }
.format { overflow:hidden; }
.container {
  min-width:960px;
  max-width:1200px;
  margin:0 auto;
  position:relative;
}
#ogre {
  position:absolute;
  top:10px;
  left:11px;
}
#header {
  background:#005987;
  border-bottom:1px solid #004263;
}
#header .container { min-height:75px; }
#header .log span a:hover, #header .log span a:focus { color:white; }
#header .log span a { color:#dbe0ea; }
#header .log span {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background:#00527a;
  border:1px solid #004263;
  display:inline-block;
  padding:3px 8px;
  font-weight:bold;
  color:#dbe0ea;
  text-shadow:1px 1px 0 rgba(0,0,0,0.75);
}
#header .log {
  position:absolute;
  top:30px;
  right:11px;
}
#sub-header {
  background:#00527a;
  border-top:1px solid #316985;
  border-bottom:1px solid #1b3a4a;
  min-height:20px;
}
#menu {
  margin:0;
  padding:0;
  position:absolute;
  bottom:0;
  left:0;
  font-size:1.1em;
}
#menu li {
  float:left;
  list-style:none;
}
#menu a {
  display:block;
  padding:4px 10px;
  text-decoration:none;
  color:#ffffff;
  font-weight:bold;
  border-top:1px solid #005987;
  border-left:1px solid #005987;
  border-right:1px solid #005987;
  text-shadow:1px 1px 0 rgba(0,0,0,0.5);
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  border-radius:5px 5px 0 0;
}
#menu a:hover, #menu a:focus, #menu a:active {
  border-color:#004263;
  background:#00527a;
}
#main {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background:white;
  margin-bottom:20px;
  margin-top:20px;
  overflow:hidden;
  padding:1px;
  min-height:430px;
}
#main .header, .header {
  background:url(../themes/default/img/gray-grad.png) repeat-x #dfdfdf;
  text-shadow:0 1px 0 #ffffff;
  color:#464646;
  padding:7px 9px;
  font-weight:bold;
  border:1px solid #dfdfdf;
  margin-bottom:20px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.login #ogre {
  position:static;
  margin-top:15px;
}
.login #header a {
  display:block;
  margin:0 auto;
  width:111px;
}
.login #header .container { min-height:2px; }
.login fieldset {
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  margin-top:15px;
  text-align:center;
}
.login table { border:none; }
.login form {
  width:300px;
  margin:0 auto;
}
.login th { text-align:right; }
label {
  display:inline-block;
  zoom:1;
}
abbr[title="required"] { border:0; }
input[type="text"] :focus, input[type="password"] :focus { -moz-box-shadow:0 0 5px #005987; }
.btn {
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px 2px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
}
input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, .button:hover, .button:focus {
  border-color:#666666;
  color:#000000;
}
input[type="submit"]:active, input[type="reset"]:active, .button:active { background:url(../themes/default/img/white-grad-active.png) repeat-x #21759b; }
input[type="submit"], input[type="reset"], .button {
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px 2px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background-image:url(../themes/default/img/white-grad.png);
  color:#464646;
  border-color:#bbbbbb;
  text-shadow:0 1px 0 #ffffff;
}
body .button-2:hover, body .button-2:focus, .button-2:hover, .button-2:focus {
  border-color:#13455b;
  color:#eaf2fa;
}
body .button-2:active, .button-2:active { background:url(../themes/default/img/blue-grad-active.png) repeat-x #21759b; }
body .button-2, .button-2 {
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px 2px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background:url(../themes/default/img/blue-grad.png) repeat-x #21759b;
  color:white;
  border-color:#298cba;
  text-shadow:0 -1px 0 black;
}
body .button-valid:hover, body .button-valid:focus, .button-valid:hover, .button-valid:focus {
  border-color:#444923;
  color:#eeeeee;
}
body .button-valid, .button-valid {
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px 2px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background-image:url(../themes/default/img/green-grad.png);
  background-color:#5b6732;
  color:#ffffff;
  border-color:#56612f;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
}
body .button-error:hover, body .button-error:focus, .button-error:hover, .button-error:focus {
  border-color:#822320;
  color:#eeeeee;
}
body .button-error, .button-error {
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px 2px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background-image:url(../themes/default/img/red-grad.png);
  background-color:#ab332d;
  color:#ffffff;
  border-color:#a6302a;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
}
a.icon span {
  background-position:left center;
  background-repeat:no-repeat;
  padding:2px 0 1px 23px;
}
a.icon.right span {
  background-position:right center;
  background-repeat:no-repeat;
  padding:1px 23px 1px 0;
}
a.add span { background-image:url(../themes/default/img/add.png); }
a.delete span { background-image:url(../themes/default/img/delete.png); }
a.edit span { background-image:url(../themes/default/img/pencil.png); }
a.next span { background-image:url(../themes/default/img/arrow_right.png); }
a.save span { background-image:url(../themes/default/img/disk.png); }
a.back span { background-image:url(../themes/default/img/arrow_undo.png); }
a.options span { background-image:url(../themes/default/img/contrast.png); }
a.dispense span { background-image:url(../themes/default/img/asterisk_yellow.png); }
table { border:1px solid #dfdfdf; }
thead th {
  background:url(../themes/default/img/gray-grad.png) repeat-x #dfdfdf;
  text-shadow:0 1px 0 #ffffff;
  color:#464646;
  font-weight:bold;
}
tr.odd td { background:#ffffff; }
tr.even td { background:#f9f9f9; }
tr.even td, tr.odd td {
  border:0;
  border-top:1px solid #dfdfdf;
}
.records-list td a {
  display:block;
  text-decoration:none;
}
.records-list a { color:#222222; }
.records-list tr:hover td {
  background:#f0f0f0;
  text-decoration:underline;
}
ul.semestre li, .puce-fleche {
  list-style:none;
  background:url(../themes/default/img/bullet_arrow_right.png) left center no-repeat;
  padding-left:20px;
}
form { margin-bottom:15px; }
.clear { clear:both; }
.ues-options span input {
  margin-right:10px;
  display:inline-block;
}
.ues-options span { display:block; }
.pagelinks li {
  display:inline-block;
  font-weight:bold;
}
.pagelinks li.pagelinks-current, .pagelinks a {
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  background:url(../themes/default/img/gray-grad.png) left bottom repeat-x #dfdfdf;
  text-shadow:0 1px 0 #ffffff;
  color:#464646;
  border:1px solid #dfdfdf;
  padding:3px 10px 2px;
}
.pagelinks .pagelinks-disabled { display:none; }
.pagelinks li.pagelinks-current {
  background:url(../themes/default/img/blue-grad.png) repeat-x #21759b;
  color:white;
  border:1px solid #298cba;
  text-shadow:0 -1px 0 black;
}
.pagelinks a:hover, .pagelinks a:focus {
  border-color:#13455b;
  color:#000000;
}
.pagelinks a { display:block; }
.pagelinks {
  list-style:none;
  margin:10px 0;
  padding:0;
}
ul.liste { padding-left:15px; }
.liste li {
  padding-left:20px;
  background:url(../themes/default/img/bullet_black.png) left center no-repeat;
  list-style:none;
}
.widget-container { overflow:hidden; }
.widget form { margin-bottom:0; }
.widget img { float:left; }
.widget .with-img ul { float:left; }
.widget h2 {
  background:url(../themes/default/img/gray-grad.png) repeat-x #dfdfdf;
  text-shadow:0 1px 0 #ffffff;
  color:#464646;
  padding:7px 9px;
  padding:5px 9px;
  font-weight:bold;
  border:1px solid #dfdfdf;
  margin-bottom:20px;
  margin-bottom:0;
  border-radius:5px;
  -moz-border-radius:5px;
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-radius:5px;
  font-size:1.2em;
}
.widget .content {
  padding:7px 10px 10px;
  border:1px solid #dfdfdf;
  border-top:0;
  -moz-border-radius:0 0 5px 5px;
  overflow:hidden;
}
.widget {
  width:49%;
  margin-right:1%;
  float:left;
  margin-bottom:15px;
}
.spacer-left { margin-left:20px; }
table.saisie-epreuve td {
  padding-top:0;
  padding-bottom:0;
}
table.saisie-epreuve tr input { text-align:center; }
table.saisie-epreuve tr input, table.saisie-epreuve tr th:last-child { width:40px; }
table.saisie-epreuve { width:350px; }
#jforms_formations_semestre_ue span.jforms-chkbox { display:block; }
.historique ul {
  padding-left:15px;
  padding-top:3px;
}
.historique ul li {
  list-style:none;
  background:url(../themes/default/img/bullet_arrow_right.png) left center no-repeat;
  padding-left:20px;
  padding-top:1px;
  padding-bottom:1px;
}
.historique > li {
  margin:0 15px 0 0;
  padding:5px;
  list-style:none;
  display:inline-block;
  min-height:58px;
  vertical-align:middle;
}
.historique li.ADM { background-image:url(../themes/default/img/tick.png); }
.historique li.ENC { background-image:url(../themes/default/img/hourglass.png); }
.historique li.AJO { background-image:url(../themes/default/img/cross.png); }
.historique li.AJC { background-image:url(../themes/default/img/bell.png); }
.historique li.DET { background-image:url(../themes/default/img/hourglass_link.png); }
.historique .annee { font-weight:bold; }
.historique {
  margin:0;
  padding:0;
}
ul.saisie-note > li, ul.saisie-disp > li {
  float:left;
  list-style:none;
  margin-right:50px;
}
ul.saisie-note ul, ul.saisie-disp ul {
  padding:0;
  list-style:none;
}
ul.saisie-note table, ul.saisie-disp table { width:250px; }
ul.saisie-note thead th, ul.saisie-disp thead th { text-align:center; }
ul.saisie-note tr td:first-child, ul.saisie-disp tr td:first-child { text-align:right; }
ul.saisie-note tbody td, ul.saisie-disp tbody td {
  padding-top:0;
  padding-bottom:0;
}
ul.saisie-note input, ul.saisie-disp input {
  width:40px;
  text-align:center;
  margin:0.4em 0;
}
ul.saisie-note, ul.saisie-disp {
  overflow:hidden;
  padding:0;
}
.saisie-disp label { font-weight:normal; }
.saisie-disp li div { margin-bottom:5px; }
.saisie-disp h3 {
  font-size:1.3em;
  font-weight:bold;
}
#semestres_etudiant .ui-helper-hidden-accessible { visibility:hidden; }
#semestres_etudiant li { margin-bottom:10px; }
#semestres_etudiant ul {
  font-size:1.2em;
  list-style:none;
  padding-left:15px;
}
#semestres_etudiant ul.options {
  margin-top:10px;
  list-style:none;
  padding:0 0 0 30px;
  font-size:0.8em;
}
#semestres_etudiant ul .ui-button {
  background:url(../themes/default/img/tick.png) left center no-repeat;
  padding-left:22px;
  cursor:pointer;
  text-decoration:underline;
}
#semestres_etudiant ul .ui-button[aria-pressed='false'] span { background-color:#ffdddd; }
#semestres_etudiant ul .ui-button[aria-pressed='false'] { background-image:url(../themes/default/img/cross.png); }
#semestres_etudiant { list-style-type:square; }
#jforms_ue_intro_saisie_epreuve input[type='radio'] { display:none; }
#jforms_ue_intro_saisie_epreuve p > span:first-child {
  width:100px;
  display:inline-block;
  min-height:25px;
}
#jforms_ue_intro_saisie_epreuve .ui-button:hover {
  border-color:#444923;
  color:#eeeeee;
}
#jforms_ue_intro_saisie_epreuve .ui-button:focus {
  border-color:#444923;
  color:#eeeeee;
}
#jforms_ue_intro_saisie_epreuve .ui-button {
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px 2px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background-image:url(../themes/default/img/green-grad.png);
  background-color:#5b6732;
  color:#ffffff;
  border-color:#56612f;
  text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
}
#jforms_ue_intro_saisie_epreuve .ui-button[aria-pressed='false']:hover {
  border-color:#666666;
  color:#000000;
}
#jforms_ue_intro_saisie_epreuve .ui-button[aria-pressed='false']:focus {
  border-color:#666666;
  color:#000000;
}
#jforms_ue_intro_saisie_epreuve .ui-button[aria-pressed='false']:active { background:url(../themes/default/img/white-grad-active.png) repeat-x #21759b; }
#jforms_ue_intro_saisie_epreuve .ui-button[aria-pressed='false'] {
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  cursor:pointer;
  font-weight:bold;
  display:inline-block;
  zoom:1;
  padding:3px 10px 2px;
  text-decoration:none;
  margin-right:10px;
  border:1px solid;
  background-image:url(../themes/default/img/white-grad.png);
  color:#464646;
  border-color:#bbbbbb;
  text-shadow:0 1px 0 #ffffff;
}
.block .legend {
  font-size:1.5em;
  position:absolute;
  top:-15px;
  left:15px;
  background:white;
  padding:0 5px;
  border-bottom:2px solid #dfdfdf;
}
.block {
  padding:25px 10px 0px 10px;
  border:2px dotted #dfdfdf;
  margin-bottom:25px;
  position:relative;
}
#historique { margin-left:71.5%; }
#link-dispense {
  margin:0 0 30px 71.5%;
  text-align:center;
}
#fiche-semestres {
  float:left;
  width:70%;
}
#fiche table { max-width:600px; }
